---
import { site } from "@datas/site";
import { ClientRouter } from "astro:transitions";

// Type & Interfaces
interface Props {
    title: string;
}

// Vars
const { title } = Astro.props;
---

<!-- Default head -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Website information -->
<title>{title} - {site.name}</title>
<meta name="description" content={site.description} />

<!-- Client router Astro -->
<ClientRouter />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet" />

<!-- Favicon -->
<link rel="shortcut icon" href={site.picture.favicon.src} type="image/x-icon" />
