---
import { DockMenu } from "@datas/blocks";
---

<nav class="dock bg-base-200 max-w-md mx-auto z-10" transition:animate="none">
    {
        DockMenu.map((item) => {
            return (
                <a href={item.href} class="text-base-content">
                    <item.icon class="dock-icon" />
                    <span class="dock-label">{item.label}</span>
                    <div data-dock-spinner />
                </a>
            );
        })
    }
</nav>

<script is:inline>
    function updateDock() {
        const currentRoute = new URL(window.location.href);
        const DockEl = document.querySelectorAll(".dock a");
        DockEl.forEach((el) => {
            const elHref = new URL(el.href);
            const dockLabel = el.querySelector(".dock-label");
            dockLabel.classList.remove("hidden");
            const dockIcon = el.querySelector(".dock-icon");

            if (currentRoute.pathname === elHref.pathname) {
                dockIcon.classList.add("fill-primary/25");
dockLabel.classList.add("font-bold");
            }
        });
    }
    function loadingDock(params) {
        const targetRoute = params.to.pathname;
        const DockEl = document.querySelectorAll(".dock a");
        DockEl.forEach((el) => {
            const elHref = new URL(el.href);
            const dockLabel = el.querySelector(".dock-label");
            const dockIcon = el.querySelector(".dock-icon");

            if (targetRoute === elHref.pathname) {
                dockIcon.classList.add("fill-primary/25");
                dockIcon.classList.add("animate-pulse");
            }
        });
    }
    document.addEventListener("astro:page-load", updateDock);
    document.addEventListener("astro:before-preparation", (params) => loadingDock(params));
</script>
