---
import { site } from "@datas/site";
import clsx from "clsx";
import Str from "lodash";
import { toZonedTime } from "date-fns-tz";
import { Icon } from "astro-iconify";

const now = toZonedTime(new Date(), site.timezone);

// Type & Interfaces
interface Props {
    class?: string;
}
// Vars
const { class: customClass, ...rest } = Astro.props;
const openingHours = Object.entries(site.openingHours).map(([day, times]) => ({
    day: day,
    open: times.open,
    close: times.close
}));
---

<button
    class={clsx("transition-all btn btn-primary btn-soft btn-circle", customClass)}
    {...rest}
    onclick="modalOpeningHours.showModal()"
>
    <Icon name="lucide:calendar-clock" class="w-6" />
</button>

<dialog id="modalOpeningHours" class="modal">
    <div class="modal-box w-full max-w-xs">
        <h3 class="text-xl font-bold mb-6 text-center">
            <Icon name="lucide:calendar-clock" class="inline me-2 w-6" />
            Jam buka
        </h3>
        <div class="grid grid-cols-2 gap-4">
            {
                openingHours.map((item) => {
                    const isLibur = !item.open || !item.close;
                    return (
                        <div class="p-2 px-4 rounded-box w-full indicator border border-primary/50">
                            <span
                                data-day={item.day.toLowerCase()}
                                class="indicator-item indicator-center indicator-bottom badge badge-xs badge-primary text-primary-content opacity-0"
                            >
                                Hari ini
                            </span>
                            <div>
                                <h1 class="text-md font-semibold">{Str.capitalize(item.day)}</h1>
                                <small class="text-md">{isLibur ? "Libur" : `${item.open} - ${item.close}`}</small>
                            </div>
                        </div>
                    );
                })
            }
        </div>
        <div class="modal-action justify-center">
            <form method="dialog">
                <button class="btn btn-circle btn-secondary btn-soft">
                    <Icon name="lucide:x" class="w-6" />
                </button>
            </form>
        </div>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>

<script>
    import { site } from "@datas/site";
    import { format } from "date-fns";
    import { toZonedTime } from "date-fns-tz";
    import { id } from "date-fns/locale";
    function checkOpeningHoursState() {
        // Initiation current days
        const now = toZonedTime(new Date(), site.timezone);
        const today = format(now, "EEEE", { locale: id }).toLowerCase();
        // Initiation elements
        const badgeEl = document.querySelectorAll<HTMLElement>(`[data-day]`);
        // Checking days
        badgeEl.forEach((badge) => {
            const day = badge.dataset.day;
            if (!day) return;
            if (today === day) {
                badge.parentElement?.classList.add("border-2");
                badge.classList.remove("opacity-0");
            }
        });
    }
    document.addEventListener("astro:page-load", checkOpeningHoursState);
</script>
