---
import { site } from "@datas/site";
import clsx from "clsx";
import XIcon from "@icons/lucide/x.svg";
import CalendarClock from "@icons/lucide/calendar-clock.svg";
import Str from "lodash";
import { format } from "date-fns";
import { id } from "date-fns/locale";

// Type & Interfaces
interface Props {
    class?: string;
}
// Vars
const { class: customClass, ...rest } = Astro.props;
const openingHours = Object.entries(site.openingHours).map(([day, times]) => ({
    day: day,
    open: times.open,
    close: times.close
}));

const now = new Date();
const today = format(now, "EEEE", { locale: id });
---

<button
    class={clsx("transition-all btn btn-primary btn-soft btn-circle", customClass)}
    {...rest}
    onclick="modalOpeningHours.showModal()"
>
    <CalendarClock />
</button>

<dialog id="modalOpeningHours" class="modal">
    <div class="modal-box w-full max-w-xs">
        <h3 class="text-xl font-bold mb-6 text-center">
            <CalendarClock class="inline-flex self-center me-2" />
            Buka & Tutup
        </h3>
        <div class="grid grid-cols-2 gap-4">
            {
                openingHours.map((item) => {
                    const isToday = item.day == today.toLowerCase();
                    if (item.open && item.close) {
                        const openTime = format(item.open, "HH:mm");
                        const closeTime = format(item.close, "HH:mm");
                        return (
                            <div class={clsx("p-2 px-4 rounded-box w-full indicator", "border border-primary/50")}>
                                {isToday && (
                                    <span class="indicator-item indicator-center indicator-bottom badge badge-xs badge-primary text-primary-content">
                                        Hari ini
                                    </span>
                                )}
                                <div>
                                    <h1 class="text-md font-semibold">{Str.capitalize(item.day)}</h1>
                                    <small class="text-md">
                                        {openTime} - {closeTime}
                                    </small>
                                </div>
                            </div>
                        );
                    } else {
                        return (
                            <div class={clsx("p-2 px-4 rounded-box w-full indicator", "border border-primary/50")}>
                                {isToday && (
                                    <span class="indicator-item indicator-center indicator-bottom badge badge-xs badge-primary text-primary-content">
                                        Hari ini
                                    </span>
                                )}
                                <div>
                                    <h1 class="text-md font-semibold">{Str.capitalize(item.day)}</h1>
                                    <small>Libur</small>
                                </div>
                            </div>
                        );
                    }
                })
            }
        </div>
        <div class="modal-action justify-center">
            <form method="dialog">
                <button class="btn btn-circle btn-secondary btn-soft"><XIcon /></button>
            </form>
        </div>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>
