---
import { site } from "@datas/site";
import Dock from "@components/Dock.astro";
import CommonHead from "@components/CommonHead.astro";
import { FadeIn } from "../utils/transition-animate/fade-in";
import "../styles/global.css";
import "toastify-js/src/toastify.css";
import { fromZonedTime } from "date-fns-tz";

const now = fromZonedTime(new Date(), site.timezone);

// Type & Interfaces
interface Props {
    title?: string;
}

// Vars
const { title } = Astro.props;
---

<!doctype html>
<html lang={site.lang}>
    <head>
        <CommonHead {title} />
    </head>
    <body>
        <div
            class="absolute bottom-1/12 z-10 w-fit h-fit bg-accent text-accent-content p-2 rounded-box"
            transition:animate="none"
        >
            {now}
        </div>
        <div class="min-h-screen relative max-w-md mx-auto md:shadow-xl md:shadow-base-300">
            <div class="flex flex-1 flex-col pb-24" transition:animate={FadeIn}>
                <slot />
            </div>
        </div>
        <Dock />
        <script src="../utils/script.ts"></script>
    </body>
</html>
