---
import { site } from "@datas/site";
import Dock from "@components/Dock.astro";
import CommonHead from "@components/CommonHead.astro";
import { FadeIn } from "../utils/transition-animate/fade-in";
import "../styles/global.css";
import "toastify-js/src/toastify.css";

// Type & Interfaces
interface Props {
    title?: string;
}

// Vars
const { title } = Astro.props;
---

<!doctype html>
<html lang={site.lang}>
    <head>
        <CommonHead {title} />
    </head>
    <body>
        <div class="min-h-screen relative max-w-md mx-auto md:shadow-xl md:shadow-base-300">
            <div class="flex flex-1 flex-col pb-24" transition:animate={FadeIn}>
                <slot />
            </div>
        </div>
        <Dock />
        <script src="../utils/handle-data-action.ts"></script>
    </body>
</html>
